<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html, body{
            height: 100%;
        }

        body{
            display: grid;
            place-items: center;
        }

        .text-red{
            color:red;
        }

        .text-green{
            color:green;
        }
    </style>
</head>
<body class="h-full grid place-items-center">
    <div id="app">
        <section v-show="inProgressAssignments.length" class="mt-8">
            <h2 class="font-bold mb-2">In Progress</h2>
            <ul>
                <li 
                    v-for="assignement in inProgressAssignments" 
                    :key="assignement.id"
                >
                    <label>
                        {{ assignement.name }}
                        <input type="checkbox" v-model="assignement.complete">
                    </label>
                     
                </li> 
            </ul>
            <pre>
                {{ assignements }}
            </pre>
        </section> 
        <section v-show="completedAssignments.length" class="mt-8">
            <h2 class="font-bold mb-2">Completed</h2>
            <ul>
                <li v-for="assignement in completedAssignments" :key="assignement.id">
                    <label>
                        {{ assignement.name }}
                        <input type="checkbox" v-model="assignement.complete">
                    </label>
                     
                </li> 
            </ul>
        </section> 
        <p>
            <input type="text" v-model="greeting">
        </p>
        <p>
            {{ greeting }}({{ greeting.length }})
        </p>
        <button v-bind:class="active ? 'text-red' : 'text-green'" v-on:click="toggle">Click Me</button>
        <button :class="active ? 'text-red' : 'text-green'" @:click="toggle">Click Me</button>
    </div>
    <script>
        Vue.createApp({
            data(){
                return{
                    greeting: 'Hello World',
                    buttonClasses: 'text-green',
                    active: false,
                    assignements:[
                        { name: 'Finish project', complete: false, id: 1},
                        { name: 'Read chapter 4', complete: false, id: 2},
                        { name: 'Turn in homeworks', complete: false, id: 3 }
                    ]
                }
            },
            mounted(){
                setTimeout(()=>{
                    this.greeting='change';
                },3000); 
            },
            methods:{
                toggle(){
                      this.active = ! this.active;
                }
            },

            computed: {
                completedAssignments(){
                    return this.assignements.filter(assignement => assignement.complete);
                },
                inProgressAssignments(){
                    return this.assignements.filter(assignement => ! assignement.complete);
                }
            }
        }).mount('#app'); 
    </script>
    
</body>
</html>